@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #e91e63, #e91e63 50%, #ffc107 50%, #ffc107);
}

body::after {
  content: '';
  position: absolute;
  top: -20px;
  Left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #03a9f4, #03a9f4 50%, transparent 50%, transparent);
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {

  0%, 100% {
    transform: translateY(10px);
  }


  50% {
    transform: translateY(-10px);
  }
}

.box {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
  backdrop-filter: blur(25px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  animation: animate 5s ease-in-out infinite;
  animation-delay: 2.5s;
}

.clock {
  position: absolute;
  top: 10px;
  Left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url(../source/img/clock.png);
  background-size: cover;
  border-radius: 50%;
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-right: none;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
    10px 10px 20px rgba(255, 255, 255, 0.1),
    0px 40px 50px rgba(0, 0, 0, 0.2);
}

.clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.hour,
.min,
.sec {
  position: absolute;
}

.hour, .hr {
  width: 160px;
  height: 160px;
}

.min, .mn {
  width: 190px;
  height: 190px;
}

.sec, .sc {
  width: 230px;
  height: 230px;
}

.hr, .mn, .sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 11;
  border-radius: 6px;
}

.mn::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 12;
  border-radius: 6px;
}

.sc::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px;
}




.container {
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  bottom: -150px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.2), transparent, transparent);
  border-radius: 50%;
}

.contenedor {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  border-radius: 50px;
  transition: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before {
  content: '';
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  background: #d83133;
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle:before {
  background: #0065c3;
  clip-path: circle(400px at center);
}

.card img {
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
}

.card:hover img {

  Left: 72%;
  height: 500px;
}

.card .content {
  position: relative;
  width: 50%;
  Left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;

}

.card:hover .content {
  Left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  Line-height: 1em;
  margin-bottom: 5px;
}

.card .content p {
  color: #fff;
}

.card .content a {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

@media(max-width:991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }

  .card:hover {
    height: 600px;
  }

  .card .content {
    width: 100%;
    Left: 0;
    padding: 30px;
  }

  .card:hover img {
    top: 70%;
    Left: 50%;
    height: 300px;

  }
}

@media(max-width:420px) {
  .card .content {
    padding: 20px;
  }
}

.centrado {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 5;
}

.hidden {
  overflow-y: hidden;
}

.atom-spinner, .atom-spinner * {
  box-sizing: border-box;
}

.atom-spinner {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.atom-spinner .spinner-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.atom-spinner .spinner-circle {
  display: block;
  position: absolute;
  color: #ff1d5e;
  font-size: calc(60px * 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: calc(60px / 25);
  border-top-width: calc(60px / 25);
  border-left-color: #ff1d5e;
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}